[submodule "business-card"]
	path = business-card
	url = https://github.com/AdrianKoshka/business-card.git
[submodule "creative-resume"]
	path = creative-resume
	url = https://github.com/AdrianKoshka/creative-resume.git
[submodule "career-project"]
	path = career-project
	url = https://github.com/AdrianKoshka/career-project.git
[submodule "scholarship-paper"]
	path = scholarship-paper
	url = https://github.com/AdrianKoshka/scholarship-paper.git
